from typing import Tuple, Type

from e2xgrader_base.cells.e2xgrader import set_e2xgrader_metadata_value
from nbconvert.exporters.exporter import ResourcesDict
from nbformat.notebooknode import NotebookNode
from nbgrader.preprocessors import ClearSolutions


class {{ camel_case_cell_name }}CellPreprocessor:

    @staticmethod
    def clear_solutions(
        preprocessor: ClearSolutions,
        cell: NotebookNode,
        resources: ResourcesDict,
        cell_index: int,
    ) -> Tuple[NotebookNode, ResourcesDict]:
        """
        Preprocess a cell to clear solutions.

        Args:
            preprocessor (ClearSolutions): The preprocessor instance.
            cell (NotebookNode): The cell to preprocess.
            resources (ResourcesDict): The resources dictionary.
            cell_index (int): The index of the cell.

        Returns:
            Tuple[NotebookNode, ResourcesDict]: The preprocessed cell and resources.
        """

        #todo: reset input here

        return cell, resources


{{ simplified_cell_name }}_preprocessor: Tuple[str, Type] = ("{{ simplified_cell_name }}", {{ camel_case_cell_name }}CellPreprocessor)
